* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #000000;

}

.kbç {
    width: 583px;
    height: 374px;
    background: url(<path-to-image>), lightgray 0px -80.978px / 100% 156.25% no-repeat;
    display: block;
    margin: auto;
    background: #000000;

}

#img {
    margin-top: 50px;
}

.Subtitle,
h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    width: 299px;
    height: 20px;
    display: block;
    margin: auto;

}

#SUB {
    margin-top: 180px;
}

.input-number {
    width: 342px;
    padding: 13px 30px 16px;
    align-items: center;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    display: inline;
    height: 58px;
    color: #FFF;
    font-size: 40px;
    font-weight: 400;
    margin: 203px 30px 30px;


}

.btn-sortear {
    border-radius: 10px;
    background: #111;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    width: 342px;
    height: 72px;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5px;
    display: block;
    margin: auto;
    cursor: pointer;
    border: none;
}

.btn-sortear::before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn-sortear:active {
    color: #000
}

.btn-sortear:active::after {
    background: transparent;
}

.btn-sortear:hover::before {
    opacity: 1;
}

.btn-sortear:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.btn {
    margin-top: 70px;

}

.input-num {
    display: block;
    margin: auto;

}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}
